<!-- Create a Django HTML page with a search field to search users by their username. Use the search_users view to handle the search request. -->
{% extends 'base.html' %}

{% block content %}

    <h1>Search Users</h1>

    <!-- display a form to search users by their username, collect results in a list and display them in a list -->
    <form action="{% url 'search_user' %}" method="POST">
        {% csrf_token %}
        <label for="search_text">
            <input type="text" name="search_text" id="search_text" placeholder="Search by username">
        </label>
        <input type="submit" value="Search">
    </form>
    <!-- display the search results -->
    <h2>Search results: </h2>
    {{ users|length }} users found.
    <ul class="card">
        {% for user in users %}
            <li>
                {{ user.username }}
                <a href="{% url 'follow_user' user.id %}">
                    <button class="subscribe"> Follow </button>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
