{% extends 'base.html' %}
{% block content %}

    <h1> Manage followed users </h1>
    <br>

    {% csrf_token %}

    {% if followed_users %}
        <p> You are following {{ followed_users|length }} user{{ followers|pluralize }} </p>
    {% else %}
        <p style="color: darkorange"> You are not following any users </p>
    {% endif %}

    <a href="{% url 'search_user' %}">
        <button class="new" type="button">Add new users</button>
    </a>

    <!-- get followed_users and display them -->
    <ul class="card">
    {% for user in followed_users %}
        <li>
            {{ user.followed_user.username }}
            <a href="{% url 'unfollow_user' user.followed_user.id %}">
                <button class="unsubscribe">Unfollow</button>
            </a>
        </li>

        <br>
    {% endfor %}
    </ul>

    <h2> Users that follow me </h2>

    {% if followers %}
        <p> {{ followers|length }} user{{ followers|pluralize }} follow{% if followers|length == 1 %}s{% endif %} you </p>
        <ul class="card">
        {% for follower in followers %}
            <li>
                {{ follower.user.username }}
                {% if follower.user.id not in following %}
                    <a href="{% url 'follow_user' follower.user.id %}">
                        <button class="subscribe"> Follow </button>
                    </a>
                {% else %}
                    <a href="{% url 'unfollow_user' follower.user.id %}">
                        <button class="unsubscribe"> Unfollow </button>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3> No users follow you </h3>
    {% endif %}

{% endblock %}