{% extends 'base.html' %}
{% block content %}

    <ul>
        {% for category in categories %}
            <li>
                <b>{{ category.name }} </b> Created by: {{ category.user }}
                <!-- Show all choices related to a question -->
                {% if category.user == user or user.is_staff %}
                    <a href="{% url 'deleteCategory' category.id %}">
                        <button class="delete" type="button">Delete</button>
                    </a>
                {% endif %}
                {% if category.id in subscribed_categories %}
                    <a href="{% url 'unsubscribeFromCategory' category.id %}">
                        <button class="unsubscribe" type="button">Unsubscribe</button>
                    </a>
                {% else %}
                    <a href="{% url 'subscribeToCategory' category.id %}">
                        <button class="subscribe" type="button">Subscribe</button>
                    </a>
                {% endif %}
                <!-- Create a button to subscribe to this category using subscribe_to_category() in views.py -->



            </li>
            <!-- Add link to delete this question -->
        {% endfor %}
    </ul>

    <a href="{% url 'index' %}">
        <button class="home" type="button">Back to surveys</button>
    </a>


{% endblock %}