<!-- Create Django HTML page to view a Survey and add questions -->
{% extends 'base.html' %}
{% block content %}

    <h2>{{ survey.name }} </h2>
    Category: <b>{{ survey.category }}</b> <br>
    Created by: <b>{{ survey.user }}</b> <br>
    Deadline: <b>{{ survey.deadline }}</b> <br>
    Description: <b>{{ survey.description }}</b>
    <br>

    <a href="{% url 'editSurvey' survey.id %}">
        <button class="edit" type="button">Edit survey parameters</button>
    </a>
    <a href="{% url 'deleteSurvey' survey.id %}">
        <button class="delete" type="button">Delete survey</button>
    </a>
    {% if not survey.ready %}
        <a href="{% url 'markReady' survey.id %}">
            <button class="ready" type="button">Mark ready</button>
        </a>
        <p class="expiring"> This survey is marked as "not ready" and cannot be taken yet! </p>
    {% else %}
        <a href="{% url 'markNotReady' survey.id %}">
            <button class="not-ready" type="button">Mark not ready</button>
        </a>
    {% endif %}

    <ul class="card">
        {% for question in questions %}
            <li>
                <h2>{{ question.text }}</h2>
                <!-- Show all choices related to a question -->
                <ul class="inner-card">
                    {% for choice in question.choice_set.all %}
                        <li>
                            {{ choice.text }}
                            <a href="{% url 'deleteChoice' choice.id %}">
                                <button class="delete" type="button">Delete</button>
                            </a>
                        </li>
                    {% endfor %}
                <a href="{% url 'addChoice' question.id %}">
                    <button class="new" type="button">Add choice</button>
                </a>
                </ul>
            </li>
            <!-- Add link to delete this question -->
            <a href="{% url 'deleteQuestion' question.id %}">
                <button class="delete" type="button">Delete question</button>
            </a>
        {% endfor %}
    </ul>

    <!-- Add link to add a question to this survey -->
    <!-- Solved thanks to context data -->
    <a href="{% url 'addQuestion' survey.get_id%}">
        <button class="new" type="button">Add question</button>
    </a>
    <a href="{% url 'index' %}">
        <button class="home" type="button">Back to surveys</button>
    </a>


{% endblock %}
