<!-- Create a Django HTML page that shows all the questions and answers related to a response given through the link -->
{% extends 'base.html' %}
{% block content %}

    <h1>Responses</h1>

    <!-- Show the most selected choice for each question -->
    <!-- TODO: Show the most selected choice for each question -->

    <!-- Show all questions and answers related to a response -->

    <ul class="card">
    {% for question in questions %}
        <li class="title">
            <b> {{ question.text }} </b>
        </li>
        {% for choice in choices %}
            {% if question.id == choice.question.id %}
                <li>
                    <!-- Show the most selected choice for each question -->
                    {% if choice in most_voted_choices %}
                        <b style="color: green"> {{ choice.text }} &emsp;
                        {{ choice.number_of_votes }} vote{{ choice.number_of_votes|pluralize }} </b>
                    {% elif choice in less_voted_choices %}
                        <b style="color: darkred"> {{ choice.text }} &emsp;
                        {{ choice.number_of_votes }} vote{{ choice.number_of_votes|pluralize }} </b>
                    {% else %}
                        {{ choice.text }} &emsp;
                        {{ choice.number_of_votes }} vote{{ choice.number_of_votes|pluralize }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    </ul>

    <h2>User responses:</h2>

    <ul class="card">
    {% for answer in responses %}
        {% ifchanged answer.response.id %}
            <br>
            <li class="title">
                User: {{ answer.response.user.username }} &emsp;
                Response id: {{ answer.response.id }}
            </li>
            <br>
            <br>
        {% endifchanged %}

        <li>
            <b> {{ answer.question.text }} </b> ==>
            {{ answer.choice.text }}
        </li>
    {% endfor %}
    </ul>
    <br>


    <a href="{% url 'index' %}">
        <button class="home" type="button">Back to surveys</button>
    </a>

{% endblock %}

